@import url('/styles/fonts.css');

:root {
	color-scheme: dark light;
	transition: ease 3s ease-in;
}

.light {
	color-scheme: light;
	--background: #edede9;
	--primary-contrast: #d5bdaf;
	--color: #22223b;
	--danger: #ffb5a7;
	--shadow: #e3d5ca;
	--border: #d6ccc2;
	--icon-filter: invert(0);
	transition: all 3s ease-in;
}

.dark { 
	--background: #2e3440;
	--primary-contrast: #434c5e;
	--color: #ffffff;
	--border: #4c566a;
	--danger: #fdaeae;
	--shadow: #3b4252;
	--icon-filter: invert(100%);
	transition: all 3s ease-in;
}

* {
	box-sizing: border-box;
}

:is(ul) {
	list-style: none;
}

body {
	letter-spacing: .1rem;
	background-color: var(--background);
	color: var(--color);
	margin: 0;
}

/* Sidebar layout*/

.profile {
	margin: 0;
	text-align: center;
}

:is(.profile p) {
	font-style: italic;
	font-size: .8rem;
	margin-bottom: 8rem;
}

.avatar {
	display: block;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-image: url(/assets/Reiji.webp);
	background-size: 87%;
	background-position: 5px 0px;
	margin-left: auto;
	margin-right: auto;
	border: 5px var(--border) solid;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	width: 20rem;
	height: 100%;
	padding: 2rem .5rem;
	border-right: solid .5px var(--border);
}

.sidebar ul {
	margin: 2rem 0rem;
	padding: 0rem 3rem;
}

.sidebar a {
	text-decoration: none;
	color: var(--color);
}

.sidebar .socials {
	display: flex;
	justify-content: space-evenly;
}

.sidebar .index li {
	display: flex;
	align-items: center;
	padding: .5rem 1rem;
	border-radius: 16px;
	text-align: right;
	margin: .5rem 0;
	letter-spacing: .3rem;
	cursor: pointer;
}

.sidebar .index li:hover {
	background-color: var(--shadow);
	transition: all .3s;
}

.active {
	background-color: var(--shadow);
}

.sidebar .socials li {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin: auto;
}

.theme-button {
	cursor: pointer;
	color: var(--color);
	font-size: 1.5rem;
	border-radius: 50%;
}

img[src*="github"] {
	filter: var(--icon-filter);
}

:where(.theme-button, img[src*=".svg"]):hover {
	opacity: .7;
}



/* Main layout */
main {
	width: calc(100% - 20rem);
	height: 100%;
	position: relative;
	float: right;
}

section.about, section.projects {
	padding: 2rem 5rem;
}

/* Project card */

.pcard {
	display: inline-block;
	min-width: 300px;
	max-width: 350px;
	border: dotted .5px var(--border);
	transition: .2s;
}

.pcard:hover {
	cursor: pointer;
	box-shadow: -8px 8px 1px var(--shadow);
	transform: translate(10px, -10px);
}

.pcard img {
	width: -webkit-fill-available;
}

.pcard-title {
	width: 300px;
}

.pcard-body {
	min-width: 300px;
	max-width: 500px;
	padding: 1rem;
}

.pcard .actions {
	position: relative;
}


/* About */

p > span {
	background-color: #2a3034;
	padding: 2px;
	color: darkcyan;
	text-decoration: underline;
	text-decoration-color: darkcyan;
	text-underline-offset: 2px;
	cursor: pointer;
}

p > span::after {
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;
}

p > span:hover::after {
	cursor: pointer;
	content: " (well its really nvim, but you get it) ";	
	color: cyan;
	text-decoration: dotted;
}

.summary {
	margin: 10rem;
}

/* Skills */

.skills ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.skills li {
	display: flex;
	background-color: transparent;
	padding: 1px;
	width: 110px;
	height: 110px;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	cursor: pointer;
	transition: all .3s;
}

.skills li:hover {
	background-color: var(--shadow);
}

.skills img {
	width: 5rem;
	height: auto;
	margin: 0px;
	border-radius: 10px;
	padding: 0%;
}

a {
	color: var(--color);
	text-decoration: none;
	font-style: oblique;
}

a:not(.index) {
	font-style: normal;
	text-decoration: none;
}

a :visited {
	color: var(--color);
}


/* General (sort later) */
img {
	display: block;
	margin: .3rem auto;
}		

/* Header & Footer */
header, footer {
	width: 100%;
	padding: 0 10rem;
}

header {
	position: static;
	border-bottom: solid .5px var(--border);
	height: 3rem;
}

footer {
	position: absolute;
	border-top: dotted .5px var(--border);
	height: 4rem;
	bottom: 0;
}