@import url('/styles/fonts.css');

html,
body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 100%;
	background-color: var(--background);
	color: var(--color);
}

/* Sidebar */

.profile {
	margin: 0;
	text-align: center;
}
.avatar {
	display: block;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	background-color: grey;
	background-image: url(/assets/Reiji.webp);
	background-size: 85%;
	background-position: 5px 1px;
	border: .5px var(--color) solid;
	margin-left: auto;
	margin-right: auto;
}

main {
	width: calc(100% - 20rem);
	height: 100%;
	position: relative;
	float: right;
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: absolute;
	width: 20rem;
	height: 100%;
	border-right: solid .5px grey;
	padding: 1rem;
}

.sidebar ul {
	margin: 0;
	padding: 0rem 3rem;
}

.sidebar .socials {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

.sidebar .index li {
	display: flex;
	align-items: center;
	list-style: none;
	padding: .5rem 1rem;
	border-radius: 16px;
	text-align: right;
	transition: all .3s;
	margin-bottom: 10px;
	letter-spacing: .3rem;
	cursor: pointer;
}

.sidebar .index li:hover {
	background-color: rgba(255, 255, 255, 0.163);
}

.sidebar .socials li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.theme-button {
	cursor: pointer;
	color: var(--color);
	font-size: 1.5rem;
	border-radius: 50%;
	transition: all .2s ease-in;
}



/* About */

p > span {
	background-color: #2a3034;
	padding: 2px;
	color: darkcyan;
	text-decoration: underline;
	text-decoration-color: darkcyan;
	text-underline-offset: 2px;
	cursor: pointer;
}

p > span::after {
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-o-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;
}

p > span:hover::after {
	cursor: pointer;
	content: " (well its really nvim, but you get it) ";	
	color: cyan;
	text-decoration: dotted;
}

/* Skills */
.skills ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.skills li {
	display: flex;
	list-style: none;
	background-color: transparent;
	padding: 1px;
	width: 110px;
	height: 110px;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	cursor: pointer;
	transition: all .3s;
}

.skills li:hover {
	background-color: #294C60;
}

.skills img {
	width: 90px;
	height: auto;
	margin: 0px;
	border-radius: 10px;
	padding: 0%;
}


/* General (sort later) */

* {
	box-sizing: border-box;
}

img {
	display: block;
	margin: 2rem auto;
}

:where(h1, h2 h4, h5, h6) {
	background-color: var(--background-alt);
	text-align: center;
	margin: 0;
	padding: 1rem;
}

:where(main > section, footer) {
	padding: 2rem;
}

main>section>* {
	max-width: 955px;
	margin: auto;
}

main section:nth-child(even) {
	background-color: var(--background-alt);
}

:where(a:link, a:visited) {
	text-decoration-line: underline;
	text-decoration-color: var(--accent);
	text-underline-offset: 3px;
}

:where(a:hover, a:focus) {
	text-decoration-style: solid;
	text-decoration-color: var(--background-alt);
	text-underline-offset: var(--primary);
}

h1 {
	box-shadow: 0px 5px 5px var(--shadow);
}

/* Theme colors */
.dark {
	--background: #001b2e;
	--background-alt: #07314e;
	--primary: #84cbf3;
	--primary-contrast: #001b2e;
	--accent: #ffd9be;
	--color: #ffffff;
	--danger: #fdaeae;
	--shadow: #3e5d70;
	--border: #8b9398;
}

.light {
	--background: #ffffff;
	--background-alt: #fff6e6;
	--primary: #294C60;
	--primary-contrast: #ffffff;
	--accent: #fca05d;
	--color: #001b2e;
	--danger: #c52b2b;
	--shadow: #b8cfdd;
	--border: #afbac0;
}

/* Header & Footer */
header, footer {
	height: 4rem;
	position: absolute;
	width: 100%;
}

header {
	border-bottom: solid 1px;
	top: 0;
	padding: 0 10rem;
}

footer {
	border-top: solid 1px;
	bottom: 0;
	padding: 0rem 10rem;
}

footer ul {
	
}


@media (prefers-color-scheme: dark) {}

@media (prefers-color-scheme: light) {

}